gspread
pandas
oauth2client
pymongo
datetime
polars
matplotlib
seaborn
spicy
statsmodels
pyarrow
google-genai==1.52.0
dotenv==0.9.9
scikit-learn
sentence-transformers
geopandas
geopy
requests
openpyxl
